@import "/styles/mixins.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

/* globals.css */
:root {
  --primary-color: #3c3838;
  --secondary-color: #e8b17a;
  --primary-color-second: ##343434;
  --black: #000000;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Poppins', sans-serif;
}

.home {
  width: 100vw;
  height: 100vh;
  background: #121212;
  background-image: url("/Rectanglebg.png");
  position: relative;
}

.center_div {
  position: absolute;
  top: 40%;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.coming {
  position: absolute;
  z-index: 12;
  top: -1.5rem;
}

.coming_bg {
  /* z-index: 1; */
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* z-index: 10; */
}

.testeur {
  position: absolute;
  top: 60%;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;

}

.buttons {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  top: 80%;
}

.socials {
  position: absolute;
  bottom: 2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.vector1 {
  position: absolute;
  top: 18.75rem;
  right: 0;
  width: 100%;
  /* z-index: 1; */
}

.vector2 {
  position: absolute;
  top: 6.25rem;
  width: 100%;
  right: 0;
  /* z-index: 2; */
}

.vector3 {
  position: absolute;
  top: 9.375rem;
  /* z-index: 3; */
}

.vector4 {
  position: absolute;
  top: 25rem;
  /* z-index: 4; */
}

.vector5 {
  position: absolute;
  top: 0;
  /* z-index: 5; */
}

.vector6 {
  position: absolute;
  top: 12.5rem;
  /* z-index: 6; */
}

.vector7 {
  position: absolute;
  top: 0;
  /* z-index: 7; */
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: #f1f1f1;
}

.logo {
  /* Ajoutez des styles supplémentaires au besoin */
}

.logo img {
  width: 3rem;
  height: 3rem;
  border-radius: 20%;
}

.nav {
  /* Ajoutez des styles supplémentaires au besoin */
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav ul li {
  margin-right: 10px;
}

/* .nav ul li:last-child {
  margin-right: 0;
} */

.nav ul li a,
section a {
  text-decoration: none;
  color: #e8b17a;
}

.nav ul li a:hover {
  color: #555;
}

h1 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  /* Ajustez la hauteur selon vos besoins */
  font-size: 60px;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #3c3838;
  margin-right: 10px;
}

.social-icon i {
  font-size: 20px;
  color: #e8b17a;
}

/* Styles pour la disposition responsive */
@media (max-width: 768px) {
  header {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }


  .nav {
    display: none;
    /* margin-top: 10px; */
  }

  section {
    padding: 20px;
  }


  h1 {
    font-size: 50px;
    height: 40vh;
  }

  /* .nav ul {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    padding: 0;
  }

  .nav ul li {
    margin-right: 0;
    margin-bottom: 5px;
  } */
}
