/* @mixin title($font-size: 2rem,
  $font-family: 'IBMPlexSans',
  $color: var(--ion-color-secondary),
  $font-weight: bold) {
  font-size: $font-size;
  font-family: $font-family;
  color: $color;
  font-weight: $font-weight;
}



@mixin simple_button($width: 25%, $height: 2.5rem, $color: var(--ion-color-secondary)) {
  width: $width;
  height: $height;
  --color: $color;
}

@mixin icon($width: 1rem, $height: 1rem) {
  width: $width;
  height: $height;
}

@mixin text($font-size: 0.875rem,
  $font-family: 'IBMPlexSans',
  $color: var(--ion-color-secondary),
  $font-weight: normal) {
  font-size: $font-size;
  font-family: $font-family;
  color: $color;
  font-weight: $font-weight;
}

@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


//verified

@mixin flex($direction: row, $align-items: center, $justify-content: flex-start, $wrap: nowrap, $inline: false, $position: relative) {
  position: $position;
  align-items: $align-items;

  @if $inline {
    display: inline-flex;
  }

  @else {
    display: flex;
  }

  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify-content;
}

@mixin button($width: 25%, $height: 2.5rem, $font-size: 0.875rem, $font-family: 'IBMPlexSans', $font-weight: 600) {
  width: $width;
  height: $height;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  min-height: $height;
}

@mixin whiteTitle($font-size: 1.75rem, $color: var(--ion-color-white), $font-weight: 600, $font-family: 'IBMPlexSans') {
  font-size: $font-size;
  font-family: $font-family;
  color: $color;
  font-weight: $font-weight;
}

@mixin whiteSubtitle($font-size: 1rem, $color: var(--ion-color-white), $font-weight: 600, $font-family: 'IBMPlexSans') {
  font-size: $font-size;
  font-family: $font-family;
  color: $color;
  font-weight: $font-weight;
}

@mixin blackTitle($font-size: 1.75rem, $color: $gray500, $font-weight: 600, $font-family: 'IBMPlexSans', ) {
  font-size: $font-size;
  font-family: $font-family;
  color: $color;
  font-weight: $font-weight;
  margin: 0px;
}

@mixin blackSubtitle($font-size: 1rem, $color: $gray500, $font-weight: 600, $font-family: 'IBMPlexSans') {
  font-size: $font-size;
  font-family: $font-family;
  color: $color;
  font-weight: $font-weight;
}

@mixin mediumText($font-size: 0.75rem, $color: $gray500, $font-weight: 500, $font-family: 'IBMPlexSans') {
  font-size: $font-size;
  font-family: $font-family;
  color: $color;
  font-weight: $font-weight;
}

@mixin regularText($font-size: 1rem, $color: $gray600, $font-weight: 400, $font-family: 'IBMPlexSans') {
  font-size: $font-size;
  font-family: $font-family;
  color: $color;
  font-weight: $font-weight;
}

@mixin semiBoldText($font-size: 2rem, $color: var(--ion-color-white), $font-weight: 600, $font-family: 'IBMPlexSans') {
  font-size: $font-size;
  font-family: $font-family;
  color: $color;
  font-weight: $font-weight;
}

@mixin boldText($font-size: 1.125rem, $color: $gray600, $font-weight: 700, $font-family: 'IBMPlexSans') {
  font-size: $font-size;
  font-family: $font-family;
  color: $color;
  font-weight: $font-weight;
}

*/